.editor {
    display: inline-flex;
    gap: 10px;
    font-family: monospace;
    line-height: 21px;
    background: #282a3a;
    /* border-radius: 2px; */
    padding: 3px 2px;
    width: 100%;
}

.line-numbers {
    width: 20px;
    text-align: right;
}

.line-numbers span {
    counter-increment: linenumber;
}

.line-numbers span::before {
    content: counter(linenumber);
    display: block;
    color: #506882;
}

.code-editor {
    line-height: 21px;
    overflow: auto;
    padding: 5px;
    border: 0;
    background: #282a3a;
    color: #FFF;
    /* min-width: 200px; */
    outline: none;
    resize: none;
}